body{
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-image: url(/loginbd3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color:  rgba(0, 0, 0, 0.522);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
}
header h1 {
    font-size: xx-large;
}
header p {
    font-size: medium;
}
section {
    max-width: 600px;
    margin-left: 10px;
    margin-top: 10px;
    background-color:  rgba(0, 0, 0, 0.485);
    padding: 10px;
    border-radius: 12px;
}
section p{
    line-height: 35px;
    font-family: sans-serif;
}
section h2 {
    font-size: x-large;
}
section ul {
    padding: none;
    list-style: none;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
section ul li {
    margin-bottom: 10px;
    margin-left: 10%;
    background-color: rgba(0, 0, 0, 0.633);
    padding: 10px;
    border-radius: 10px;
}
section ul li:hover {
    box-shadow: 10px;
    color: #FD6569;
    transform:scale(1.6);
    transition: 0.1s;
}
.projects{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
}
.projectcard {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.projectcard:hover {
    box-shadow: 5px;
    transform:scale(1.2);
    color: #FD6569;
    transition: 0.5s;
}
.projectcard a{
    text-decoration: none;
    background-color: #FD6569;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
.projectcard a:hover{
    box-shadow: 5px;
    transform: scale(1.5);
    padding: 20px;
    transition: 0.25s;
}

.contactbtn {
    text-decoration:none;
    background-color:rgba(0, 0, 0, 0.623);
    color: white;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 14px;
    bottom: 50px;
}
.contact{
    padding-bottom: 40px;
}
.contact a:hover{
    box-shadow: 5px;
    transform: scale(1.5);
    padding: 20px;
    color: #FD6569;
    transition: 0.25s;
}
.layout {
    display: flex;
}
.profile {
position: fixed;
right: 130px;
top: 45%;
transform: translateY(-50%);
background-color: rgba(0, 0, 0, 0.574);
padding: 40px;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
}
.profile img{
    border-radius: 50%;
    width: 300px;
}
.profile a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
}
.links{
    margin-top: 20px;
    padding: 40px;
    margin: auto;
}
.profile a:hover{
    color: #FD6569;
    padding: 25px;
    transition: 0.25s;
}
section h1:hover{
    transform: scale(1.6);
    color: #FD6569;
    transition: 0.3s;
}
section h2:hover{
    transform: scale(1.3);
    color: #FD6569;
    transition: 0.3s;
}
.header {
    background-color: rgba(0, 0, 0, 0.588);
}